.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-text {
    transition: transform 0.5s ease-in-out;
}
.scroll-container:hover .scroll-text {
    transform: translateX(20px);
}